# Heading1
## Heading2
### Heading3
#### Heading4
##### Heading5
###### Heading6

*italic*

**bold**

***italic and bold***

* List
    * Sublist1
    * Sublist2
    * Sublist3
        * sublist

- links

[google link](https://www.google.com/) 

- getting image from google

![python image from google](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)

- getting image from local system 

![python](python-logo-master-v3-TM.png)



<span style="color:red">***This is first day session***</span>

In [82]:
import numpy

In [4]:
print("Hello Everyone")

Hello Everyone

In [5]:
print('hello world')

hello world

### Keywords

In [6]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Identifiers

- identifier is a name that is given ro variables,functions and classes

#### Rules:

- identifier should starts with either alphabets or _(underscore)
- identifier accepts numbers also but it wont start with numbers
- it wont contain any spaces and special symbols

In [7]:
var1 = 10
var1

10

In [8]:
first number = 34

SyntaxError: invalid syntax (<ipython-input-8-ec3e4e6f2e40>, line 1)

In [10]:
first_number = 34
first_number

34

In [12]:
_first = "string"
_first

'string'

In [13]:
type(_first)

str

In [14]:
type(first_number)

int

## Datatypes

1. numbers(int,float,complex)
2. characters(str)
3. True,False(bool)

In [15]:
number = 23
print(type(number),number)
number1 = 23.7
print(type(number1),number1)

<class 'int'> 23
<class 'float'> 23.7

In [16]:
var = "python"
print(type(var))

<class 'str'>

In [18]:
a = True
type(a)
b=False
type(b)

bool

### Operators in python

### Arthematic operators
 
- +,- ,* ,/ ,// ,% ,**

In [19]:
print(10+45)

55

In [20]:
print(23-6)

17

In [25]:
print(4/2) #quotient

2.0

In [22]:
print(5//2) # floor division

2

In [23]:
5/2

2.5

In [24]:
print(4%2) # remainder

0

In [26]:
print(10**2) # power value

100

In [28]:
divmod(4,2)

(2, 0)

### Assignment operators

- =,+=,-=,*=,/=,//=,**=,%=

In [34]:
var = 10
print(var)

10

In [35]:
var += 2 # var=var+2 10+2
print(var)

12

In [36]:
var -=5 # var=var-5
print(var)

7

In [37]:
var *=5 # var=var*5
print(var)

35

### Comparision operators

- <,>,<=,>=,!=,==

In [38]:
print(3<2)

False

In [39]:
print(3>2)

True

In [40]:
print(2>=3)

False

In [41]:
print(2==3)

False

In [42]:
print(2!=3)

True

### Logical operators

- and,or,not

In [43]:
a = 23
b = 34
print(a and b)

34

In [44]:
condition1 = 2<3 # True
condition2 = 2>3 # False
print(condition1 and condition2)

False

In [45]:
print(condition1 or condition2)

True

In [46]:
print(not True)

False

In [47]:
print(not False)

True

In [48]:
print(not condition1)

False

In [49]:
condition1 = 2<3
condition1

True

### Special operators

1. Membership operators (in,not in)
2. Identity operators (is, is not)

### Membership operators

In [54]:
name = "python"
print('o' in name)

True

In [51]:
print("s" in name)

False

In [52]:
print("s" not in name)

True

### Identity operators

- is , is not

In [55]:
print(2 is 3)

False

In [56]:
print(2 is not 3)

True

In [59]:
print(2 is 2.0)

False

### Data Types Conversion
- to convert one type from another type

In [60]:
value = 20
print(type(value))

<class 'int'>

In [62]:
b = float(value)
type(b)

float

In [66]:
c = str(value)
print(type(c))
c

<class 'str'>

'20'

In [69]:
value1 = 23.7
i = int(value1)
print(type(i))

<class 'int'>

In [70]:
a = "python"
int(a)

ValueError: invalid literal for int() with base 10: 'python'

In [71]:
a = "123"
int(a)

123

In [74]:
a = "123python"
int(a)

ValueError: invalid literal for int() with base 10: '123python'

In [75]:
a = 123.5
int(a)

123

In [73]:
ord('a') #ascii value

97

In [76]:
chr(97) #character

'a'

In [79]:
a = "23.5"
b = float(a)

In [80]:
int(b)

23

In [81]:
a = "23"
int(a)

23