# Good Afternoon

# Lists

In [1]:
a = 23

In [2]:
a

23

In [3]:
a = []

In [4]:
type(a)

list

In [5]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [6]:
a[0]

1

In [7]:
a = [1,1,2,3,1]
a

[1, 1, 2, 3, 1]

In [8]:
a = [1,'abc',2.3]
a

[1, 'abc', 2.3]

In [9]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [10]:
a = [1,2,3,4,5]
#    0 1 2 3 4
a[0]

1

In [11]:
a[4]

5

In [12]:
a[5]

IndexError: list index out of range

In [13]:
a = [1,2,3,4,5]
a[0:3]

[1, 2, 3]

In [14]:
a[-1]

5

In [15]:
a[::-1]

[5, 4, 3, 2, 1]

In [16]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [25]:
# append
a = [1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [26]:
b = [7,8,9]
a.append(b)
a

[1, 2, 3, 4, 5, 6, [7, 8, 9]]

In [27]:
a[6]

[7, 8, 9]

In [30]:
a[6][1]

8

In [20]:
# clear
a

[1, 2, 3, 4, 5, 6, [7, 8, 9]]

In [21]:
a.clear()

In [22]:
a

[]

In [44]:
# copy
a = [1,2,3,4]
b = a
b

[1, 2, 3, 4]

In [45]:
b.append(5)

In [46]:
b.clear()

In [47]:
print(a)

[]

In [36]:
a = [1,2,3,4]
b = a.copy()

In [37]:
b

[1, 2, 3, 4]

In [38]:
b.append(5)

In [39]:
print(a)

[1, 2, 3, 4]

In [40]:
print(b)

[1, 2, 3, 4, 5]

In [50]:
a = [1,2,3,4,5]
b = a[:5]

In [51]:
b

[1, 2, 3, 4, 5]

In [52]:
b.append(6)
print(a)

[1, 2, 3, 4, 5]

In [56]:
# count
a = [1,2,3,4,5,1,3,3]
a.count(3)

3

In [60]:
# extend
a = [1,2,3,4,5]
b = [6,7,8]
a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]
[6, 7, 8]

In [58]:
a = [1,2,3,4,5]
b = [6,7,8]
a.append(b)
a

[1, 2, 3, 4, 5, [6, 7, 8]]

In [62]:
# index
# listobject.index(element,startindex,endindex) returns element index position in the list
a = [1,2,3,4,5,3]
a.index(3)

2

In [68]:
a = [1,2,3,4,5,3,2]
a.index(2,2)

6

In [66]:
a = [23,34,56,67]
a.index(34)

1

In [69]:
# insert
# listobject.insert(indexposition,element)
a = [1,2,3,4]
a.insert(2,7)
a

[1, 2, 7, 3, 4]

In [78]:
# pop
# listobject.pop(indexposition)
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [79]:
a.pop(2)

3

In [72]:
len(a)

4

In [80]:
a = ['hello','everyone','today']
a

['hello', 'everyone', 'today']

In [81]:
a.pop(1)

'everyone'

In [82]:
a

['hello', 'today']

In [89]:
# remove
# listobject.remove(element)
a = [1,2,5,3,4,5,5]
a.remove(5)
a

[1, 2, 3, 4, 5, 5]

In [90]:
# reverse
# listobject.reverse()
a = [1,2,3,4,'today']
a.reverse()

In [91]:
a

['today', 4, 3, 2, 1]

In [92]:
a = ['hello','today']
a.reverse()
a

['today', 'hello']

In [93]:
# sort
# listobject.sort(reverse = True/False)
a = [1,2,4,5,3,2]
a.sort()

In [94]:
a

[1, 2, 2, 3, 4, 5]

In [96]:
a = [1,2,3,4,5,3,4]
a.sort(reverse=True)

In [97]:
a

[5, 4, 4, 3, 3, 2, 1]

In [98]:
a = ['hello',1,2]
a.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [101]:
a = [0.2,1,-2]
a.sort()

In [102]:
a

[-2, 0.2, 1]

In [103]:
a = [0.3,4.5,-0.3,0.1]
a.sort()

In [104]:
a

[-0.3, 0.1, 0.3, 4.5]

In [105]:
a = ['cb','ab','ca']
a.sort()

In [106]:
a

['ab', 'ca', 'cb']

In [109]:
a = [23,4,5,643,355,34]
for i in a:
    print(i)
len(a)

23
4
5
643
355
34

6

In [110]:
for i in range(0,len(a)):
    print(a[i])

23
4
5
643
355
34

In [121]:
a = [1,2,3,4,5,6]
b = [1,2,3]
# a = [4,5,6]
for i in a:# i = 1,3
    if i in b:# 1 in [1,2,3]
        a.remove(i) # a [2,3,4,5,6]
a

[2, 4, 5, 6]

In [115]:
a = [1,2,3,4,5]
b = [1,7]
for i in b:
    a.remove(i)

ValueError: list.remove(x): x not in list

In [127]:
a = [1,2,3,4,5]
print(len(a))
b = [6,3,1]
for i in range(len(a)-1,-1,-1):
    if a[i] in b:
        a.remove(a[i])
a

6

[2, 4, 5]

In [129]:
a = ['hello','everyone']
a[0][0]

'h'

In [132]:
a = [1,2,3,4,[1,2,3]]
for i in a:
    if i in a[4]:
        print(i)

1
2
3

In [133]:
for i in range(0,10):# 0 to 10
    for j in range(0,3): # 0 to 3
        print(j)

0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2

# tuples

In [134]:
a = (1,2,3,4)
a[0]

1

In [135]:
a[-1]

4

In [141]:
a[1:3]

(1, 2)

In [137]:
a = (1,4.5,'hello')

In [138]:
a = (1,1,2)

In [139]:
a

(1, 1, 2)

In [140]:
sum(a)

4

In [142]:
type(a)

tuple

In [143]:
len(a)

3

In [144]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [152]:
a = (1,2,3,4,3,2)
# count
a.count(3)

2

In [153]:
a.index(3)

2

In [155]:
a.index(3,3)
b = ()
type(b)

tuple

# sets

In [157]:
a = {}
type(a)

dict

In [158]:
a = set()
type(a)

set

In [159]:
a = {1,2,3,1,2,4}
a

{1, 2, 3, 4}

In [160]:
a = {1,4,3,2,5}
a

{1, 2, 3, 4, 5}

In [161]:
a[0]

TypeError: 'set' object is not subscriptable

In [162]:
len(a)

5

In [163]:
sum(a)

15

In [167]:
a = {1,1.3,'hello'}
a

{1, 1.3, 'hello'}

In [168]:
for i in a:
    print(i)

1
hello
1.3

In [169]:
print(1 in a)

True

In [170]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [173]:
a = {1,2,3,4}
a

{1, 2, 3, 4}

In [177]:
a.add((1,2,3))
a

{(1, 2, 3), 1, 2, 3, 4, 7}

In [178]:
a.clear()

In [179]:
a

set()

In [180]:
a = {1,2,3,4}
b = a
b.add(7)
a

{1, 2, 3, 4, 7}

In [181]:
a = {1,2,3,4}
b = a.copy()
b.add(7)
a

{1, 2, 3, 4}

In [190]:
a = {1,2,3,4}
b = {3,4,5,6}
a.difference(b)

{1, 2}

In [187]:
b

{3, 4, 5, 6}

In [188]:
b.difference_update(a)

In [189]:
b

{5, 6}