### Comprehensions in python:
        - comprehensions in python to provide short and easy to create new sequence such as(list,dictionary,tuple,sets)
        * list comprehension
        * dictionary comprehension
        * tuple comprehension
        * sets comprehension

### List comprehension:
        - by using list comprehension we can create one new list from other iterables.
        - syntax:
                [output_expression forloop if(condition)]

In [1]:
# 1. To generate natural number from 1 to 20 using list?
l1=[]
for i in range(1,21):
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
L2=[10,2,13,5,17,8,14]
# to print even numbers from above list?
L3=[]
for i in L2:
    if i%2==0:
        L3.append(i)
print(L3)

[10, 2, 8, 14]

In [3]:
L4=[10,20,10,20,30,40,10]
#[10,20,30,40]
L5=[]
for i in L4:
    if i not in L5:
        L5.append(i)
print(L5)

[10, 20, 30, 40]

In [5]:
#1. To print 1 to 10 natural numbers using List comprehension?
#[output_expression forloop if(condiotion)]
a=[i for i in range(1,11)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# 2. To print 1 to 100 even numbers using LC?
k = [i for i in range(1,101) if i%2==0]
print(k)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [9]:
def odd(n):
    return n%2!=0
s = [i for i in range(1,10) if(odd(i))]
print(s)

[1, 3, 5, 7, 9]

In [10]:
# To generate 1 to 100 prime numbers using LC?
def prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c = c+1
    if c==2:
        return n
prime1 = [i for i in range(1,101) if prime(i)]
print(prime1)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### Dictionary comprehension:
    -syntax:
            {key:value forloop if(condition)}

In [12]:
#1.To generate squares of a numbers in between 1 to 10?
# output:{1:1,2:4,3:9,4:16...}
# d={}
# for i in range(1,11):
#     d[i]=i**2
# print(d)
d1={i:i**2 for i in range(1,11)}
d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [13]:
L3=['apple','banana','mango']
# using above list to print the lenth of given word using DC?
#output:{'apple':5,'banana':6,'mango':5}
d2={item:len(item) for item in L3}
d2

{'apple': 5, 'banana': 6, 'mango': 5}

In [15]:
L4=[10,20,10,20,30,40,10,50]
#output:{10:3,20:2...}
#L4.count(element)
d3 = {i:L4.count(i) for i in L4}
d3

{10: 3, 20: 2, 30: 1, 40: 1, 50: 1}

In [ ]:
#task1:create a dictionary of character frequencey in given string?
'''
input:
s="python programming "
output:
d={'p':2,y:1,'t':1........}
'''
#task2:d1={'raju':38,'ravi':45,'ramu':55,'lokesh':32}
#output:{'raju':38,'lokesh':32} only print even values item in above dictionary?

#task3: L3=['apple','banana','mango']
# create dictionary of to convert all the words into upper case from above list?
#task4: using LC to print multiplication table?
#task5:using LC to print only characters in given string?
'''
    input: s1="apssdc123fghABSDD"
    output:['a','p','s','s','d'.........]
'''

### Tuple comprehension:
        -syntax:
                tuple((output_expression forloop if conditon))

In [16]:
# To generate 1 to 10 numbers using TC?
t1=tuple((i for i in range(1,11)))
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### sets comprehension:
        - syntax:{output_expression forloop condition}

In [17]:
L2=[10,20,10,40,30,30]
#{10,20,30,40}
s1={i for i in L2}
s1

{10, 20, 30, 40}

In [18]:
s1="pythonprogramming"
s2={i for i in s1}
s2

{'a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y'}

### lambda:
        - by using 'lambda' keyword we can develop the function..
        - it is a anynomous function in single line
        - syntax:
                z = lambda argumnets:expression
                z(arguments)

In [19]:
# to print addition of two numbers
a = lambda x,y:x+y
a(10,34)

44

In [21]:
# to print odd numbers using lambda
b = lambda x:x%2!=0
l1=[i for i in range(1,10) if b(i)]
l1

[1, 3, 5, 7, 9]

In [27]:
# to print squaroot of given number
import math as m
c = lambda x:m.sqrt(x)
l2=[c(i) for i in range(1,5)]
l2

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [28]:
n=int(input("Enter range"))
l3=[c(i) for i in range(1,n+1)]
l3

Enter range100

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0,
 5.0990195135927845,
 5.196152422706632,
 5.291502622129181,
 5.385164807134504,
 5.477225575051661,
 5.5677643628300215,
 5.656854249492381,
 5.744562646538029,
 5.830951894845301,
 5.916079783099616,
 6.0,
 6.082762530298219,
 6.164414002968976,
 6.244997998398398,
 6.324555320336759,
 6.4031242374328485,
 6.48074069840786,
 6.557438524302,
 6.6332495807108,
 6.708203932499369,
 6.782329983125268,
 6.855654600401044,
 6.928203230275509,
 7.0,
 7.0710678118654755,
 7.14142842854285,
 7.211102550927978,
 7.280109889280518,
 7.3484692283495345,
 7.416198487095663,
 7.483314773547883,
 7.54983443527075,
 7.615773105863909,
 7.681145747868608,
 7.745966692414834,
 7.810249675906654,
 7.874007874011811,
 7.937253933193772,
 8.0,
 8.06225774829855,
 8.12403840463596,
 8.18535277187245,
 8.246211251235321,
 8.306623862918075,
 8.366600265340756,
 8.426149773176359,
 8.48528137423857,
 8.54400374531753,
 8.602325267042627,
 8.660254037844387,
 8.717797887081348,
 8.774964387392123,
 8.831760866327848,
 8.888194417315589,
 8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138,
 9.539392014169456,
 9.591663046625438,
 9.643650760992955,
 9.695359714832659,
 9.746794344808963,
 9.797958971132712,
 9.848857801796104,
 9.899494936611665,
 9.9498743710662,
 10.0]

### iterator:
        - to fetch the one value at a time
        - iter,next
        -syntax:
                variable_name = iter(iterable)
                next(variable_name)

In [33]:
L1=[10,20,30,40]
a = iter(L1)
next(a)

10

In [34]:
next(a)

20

In [35]:
next(a)

30

In [36]:
next(a)

40

In [37]:
next(a)

StopIteration:

### Generator:
        - To generate the sequence of values from function using 'yield' keyword

In [38]:
def natural(n):
    while n<=5:
        return n
        n=n-1
natural(4)

4

In [3]:
def natural(n):
    while n<=5:
        yield n
        n=n+1
tuple(natural(1))

(1, 2, 3, 4, 5)

### filter:
        -syntax: filter(function_name,sequence)

In [5]:
L5=[10,2,-3,-4,12,-6]
# to print only negative numbers?
def negative(n):
    return n<0
f1=tuple(filter(negative,L5))
f1

(-3, -4, -6)

In [6]:
f2=list(filter(lambda n:n<0,L5))
f2

[-3, -4, -6]

### map:
        -syntax:-
                map(function_name,sequence)

In [7]:
m2 = list(map(lambda n:n+10,f2))
m2

[7, 6, 4]

In [8]:
#int a,b;
#printf("Enter a and b values");
#scanf("%d%d",&a,&b);
a=int(input("Enter a value"))
b=int(input("Enter b value"))
print(a,b)

Enter a value10
Enter b value34
10 34

In [10]:
a,b,c=map(int,input().split())
print(a,b,c)

10 20 30
10 20 30

In [11]:
type(a)

int

### reduce:
        - It returns only single value from the function.
        - reduce(function_name,sequence)
        - If you want use 'reduce' first we can 
        - 'from functools import reduce'
**Descrption about reduce**
    
*The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

Working : 

At first step, first two elements of sequence are picked and the result is obtained.
Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
This process continues till no more elements are left in the container.
The final returned result is returned and printed on console.*

In [32]:
from functools import reduce
L=[1,2,3,4,6]
# To sum all the list of values example......
r1=reduce(lambda x,y:x/y,L)
r1

0.006944444444444444