## Numpy
## Pandas

## Numpy

- Numerical python ,popularly known as numpy has been designed to carry out mathematical computations at a faster and easier rate
- numpy provides a large library of high level mathematical functions to operate on data structures

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\alekhya\anaconda3\lib\site-packages (1.16.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np

In [4]:
np.__version__

'1.16.2'

In [5]:
arr = np.array([12,23,34])
arr

array([12, 23, 34])

In [6]:
arr.dtype

dtype('int32')

In [7]:
type(arr)

numpy.ndarray

In [8]:
li = [1,2,3]
li

[1, 2, 3]

In [9]:
type(li)

list

In [12]:
arr1 = np.array([12,3.5,"apssdc"])
type(arr1)

numpy.ndarray

In [13]:
arr1.dtype

dtype('<U32')

In [14]:
arr2 = np.array("24-07-2020")
arr2.dtype

dtype('<U10')

In [15]:
arr3 = np.array(3+4j)
arr3.dtype

dtype('complex128')

In [16]:
range(1,10)

range(1, 10)

In [18]:
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [19]:
range(1,10.5)

TypeError: 'float' object cannot be interpreted as an integer

In [20]:
np.arange(1,10.5)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [21]:
np.arange(1,10.5,1.5)

array([ 1. ,  2.5,  4. ,  5.5,  7. ,  8.5, 10. ])

In [29]:
arr4 = np.arange(1,200,2)

In [23]:
arr4

array([  1,   3,   5,   7,   9,  11,  13,  15,  17,  19,  21,  23,  25,
        27,  29,  31,  33,  35,  37,  39,  41,  43,  45,  47,  49,  51,
        53,  55,  57,  59,  61,  63,  65,  67,  69,  71,  73,  75,  77,
        79,  81,  83,  85,  87,  89,  91,  93,  95,  97,  99, 101, 103,
       105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129,
       131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155,
       157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181,
       183, 185, 187, 189, 191, 193, 195, 197, 199])

In [25]:
arr4[0],arr4[1]

(1, 3)

In [26]:
arr4[10:50]

array([21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53,
       55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87,
       89, 91, 93, 95, 97, 99])

In [27]:
arr4.shape

(100,)

- 1D array  - point
- 2D array  -square
- 3D array  - cubic

In [30]:
arr4.ndim

1

In [36]:
a = arr4.reshape(10,10)
a

array([[  1,   3,   5,   7,   9,  11,  13,  15,  17,  19],
       [ 21,  23,  25,  27,  29,  31,  33,  35,  37,  39],
       [ 41,  43,  45,  47,  49,  51,  53,  55,  57,  59],
       [ 61,  63,  65,  67,  69,  71,  73,  75,  77,  79],
       [ 81,  83,  85,  87,  89,  91,  93,  95,  97,  99],
       [101, 103, 105, 107, 109, 111, 113, 115, 117, 119],
       [121, 123, 125, 127, 129, 131, 133, 135, 137, 139],
       [141, 143, 145, 147, 149, 151, 153, 155, 157, 159],
       [161, 163, 165, 167, 169, 171, 173, 175, 177, 179],
       [181, 183, 185, 187, 189, 191, 193, 195, 197, 199]])

In [37]:
a.ndim

2

In [38]:
arr4.reshape(-1,10)

array([[  1,   3,   5,   7,   9,  11,  13,  15,  17,  19],
       [ 21,  23,  25,  27,  29,  31,  33,  35,  37,  39],
       [ 41,  43,  45,  47,  49,  51,  53,  55,  57,  59],
       [ 61,  63,  65,  67,  69,  71,  73,  75,  77,  79],
       [ 81,  83,  85,  87,  89,  91,  93,  95,  97,  99],
       [101, 103, 105, 107, 109, 111, 113, 115, 117, 119],
       [121, 123, 125, 127, 129, 131, 133, 135, 137, 139],
       [141, 143, 145, 147, 149, 151, 153, 155, 157, 159],
       [161, 163, 165, 167, 169, 171, 173, 175, 177, 179],
       [181, 183, 185, 187, 189, 191, 193, 195, 197, 199]])

In [40]:
arr4.reshape(5,-1)

array([[  1,   3,   5,   7,   9,  11,  13,  15,  17,  19,  21,  23,  25,
         27,  29,  31,  33,  35,  37,  39],
       [ 41,  43,  45,  47,  49,  51,  53,  55,  57,  59,  61,  63,  65,
         67,  69,  71,  73,  75,  77,  79],
       [ 81,  83,  85,  87,  89,  91,  93,  95,  97,  99, 101, 103, 105,
        107, 109, 111, 113, 115, 117, 119],
       [121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145,
        147, 149, 151, 153, 155, 157, 159],
       [161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185,
        187, 189, 191, 193, 195, 197, 199]])

In [41]:
len(arr4)

100

In [42]:
arr4.shape

(100,)

In [43]:
arr4.reshape(-1,-1)

ValueError: can only specify one unknown dimension

In [46]:
arr4.reshape(4,-1)

array([[  1,   3,   5,   7,   9,  11,  13,  15,  17,  19,  21,  23,  25,
         27,  29,  31,  33,  35,  37,  39,  41,  43,  45,  47,  49],
       [ 51,  53,  55,  57,  59,  61,  63,  65,  67,  69,  71,  73,  75,
         77,  79,  81,  83,  85,  87,  89,  91,  93,  95,  97,  99],
       [101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125,
        127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149],
       [151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175,
        177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]])

In [51]:
arr5 = np.arange(0,20).reshape(2,2,5)

In [52]:
arr5

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9]],

       [[10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]]])

In [53]:
arr5.ndim

3

In [54]:
arr5.reshape(-1,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [55]:
arr5.reshape(20)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [1]:
li = [2,3,4] #[4,5,6]
l = []
for ele in li:
    l.append(ele+2)
print(l)

[4, 5, 6]

In [3]:
ar = np.array([2,3,4])
ar

array([2, 3, 4])

In [4]:
ar+2

array([4, 5, 6])

In [6]:
ar*5

array([10, 15, 20])

In [7]:
ar-6

array([-4, -3, -2])

In [8]:
ar = np.arange(1,10)
ar

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
ar>5

array([False, False, False, False, False,  True,  True,  True,  True])

In [10]:
ar[ar>5]

array([6, 7, 8, 9])

In [12]:
ar%2==0

array([False,  True, False,  True, False,  True, False,  True, False])

In [13]:
ar[ar%2==0]

array([2, 4, 6, 8])

- np.logical_and()
- np.logical_or()
- np.logical_not()

In [14]:
y = np.arange(1900,2021)
y

array([1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910,
       1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921,
       1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932,
       1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943,
       1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954,
       1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965,
       1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976,
       1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

divisible by 4 and 400
not divisible by 100

In [ ]:
a = np.logical_and(y%4==0,y%400==0)
np.logical_or(y%100!=0,a)

In [15]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [16]:
np.zeros(10,dtype = int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [21]:
a = np.zeros((2,10),dtype = object)
a

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=object)

In [20]:
a.dtype

dtype('O')

In [22]:
one = np.ones((10,10),dtype = int)
print(one)

[[1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1 1]]

In [24]:
np.eye(10,20)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.]])

- Trignometric methods

In [25]:
np.sin(90)

0.8939966636005579

In [26]:
np.sin(np.deg2rad(90))

1.0

In [27]:
np.sinh(45)

1.7467135528742547e+19

### Statistical methods

In [28]:
ar = np.arange(500)

In [29]:
ar

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499])

In [30]:
np.min(ar)

0

In [31]:
np.max(ar)

499

In [33]:
np.median(ar)

249.5

In [34]:
np.sum(ar)

124750

In [35]:
np.cumsum(ar)

array([     0,      1,      3,      6,     10,     15,     21,     28,
           36,     45,     55,     66,     78,     91,    105,    120,
          136,    153,    171,    190,    210,    231,    253,    276,
          300,    325,    351,    378,    406,    435,    465,    496,
          528,    561,    595,    630,    666,    703,    741,    780,
          820,    861,    903,    946,    990,   1035,   1081,   1128,
         1176,   1225,   1275,   1326,   1378,   1431,   1485,   1540,
         1596,   1653,   1711,   1770,   1830,   1891,   1953,   2016,
         2080,   2145,   2211,   2278,   2346,   2415,   2485,   2556,
         2628,   2701,   2775,   2850,   2926,   3003,   3081,   3160,
         3240,   3321,   3403,   3486,   3570,   3655,   3741,   3828,
         3916,   4005,   4095,   4186,   4278,   4371,   4465,   4560,
         4656,   4753,   4851,   4950,   5050,   5151,   5253,   5356,
         5460,   5565,   5671,   5778,   5886,   5995,   6105,   6216,
         6328,   6441,   6555,   6670,   6786,   6903,   7021,   7140,
         7260,   7381,   7503,   7626,   7750,   7875,   8001,   8128,
         8256,   8385,   8515,   8646,   8778,   8911,   9045,   9180,
         9316,   9453,   9591,   9730,   9870,  10011,  10153,  10296,
        10440,  10585,  10731,  10878,  11026,  11175,  11325,  11476,
        11628,  11781,  11935,  12090,  12246,  12403,  12561,  12720,
        12880,  13041,  13203,  13366,  13530,  13695,  13861,  14028,
        14196,  14365,  14535,  14706,  14878,  15051,  15225,  15400,
        15576,  15753,  15931,  16110,  16290,  16471,  16653,  16836,
        17020,  17205,  17391,  17578,  17766,  17955,  18145,  18336,
        18528,  18721,  18915,  19110,  19306,  19503,  19701,  19900,
        20100,  20301,  20503,  20706,  20910,  21115,  21321,  21528,
        21736,  21945,  22155,  22366,  22578,  22791,  23005,  23220,
        23436,  23653,  23871,  24090,  24310,  24531,  24753,  24976,
        25200,  25425,  25651,  25878,  26106,  26335,  26565,  26796,
        27028,  27261,  27495,  27730,  27966,  28203,  28441,  28680,
        28920,  29161,  29403,  29646,  29890,  30135,  30381,  30628,
        30876,  31125,  31375,  31626,  31878,  32131,  32385,  32640,
        32896,  33153,  33411,  33670,  33930,  34191,  34453,  34716,
        34980,  35245,  35511,  35778,  36046,  36315,  36585,  36856,
        37128,  37401,  37675,  37950,  38226,  38503,  38781,  39060,
        39340,  39621,  39903,  40186,  40470,  40755,  41041,  41328,
        41616,  41905,  42195,  42486,  42778,  43071,  43365,  43660,
        43956,  44253,  44551,  44850,  45150,  45451,  45753,  46056,
        46360,  46665,  46971,  47278,  47586,  47895,  48205,  48516,
        48828,  49141,  49455,  49770,  50086,  50403,  50721,  51040,
        51360,  51681,  52003,  52326,  52650,  52975,  53301,  53628,
        53956,  54285,  54615,  54946,  55278,  55611,  55945,  56280,
        56616,  56953,  57291,  57630,  57970,  58311,  58653,  58996,
        59340,  59685,  60031,  60378,  60726,  61075,  61425,  61776,
        62128,  62481,  62835,  63190,  63546,  63903,  64261,  64620,
        64980,  65341,  65703,  66066,  66430,  66795,  67161,  67528,
        67896,  68265,  68635,  69006,  69378,  69751,  70125,  70500,
        70876,  71253,  71631,  72010,  72390,  72771,  73153,  73536,
        73920,  74305,  74691,  75078,  75466,  75855,  76245,  76636,
        77028,  77421,  77815,  78210,  78606,  79003,  79401,  79800,
        80200,  80601,  81003,  81406,  81810,  82215,  82621,  83028,
        83436,  83845,  84255,  84666,  85078,  85491,  85905,  86320,
        86736,  87153,  87571,  87990,  88410,  88831,  89253,  89676,
        90100,  90525,  90951,  91378,  91806,  92235,  92665,  93096,
        93528,  93961,  94395,  94830,  95266,  95703,  96141,  96580,
        97020,  97461,  97903,  98346,  98790,  99235,  99681, 100128,
       100576, 101025, 101475, 101926, 102378, 102831, 103285, 103740,
       104196, 104653, 105111, 105570, 106030, 106491, 106953, 107416,
       107880, 108345, 108811, 109278, 109746, 110215, 110685, 111156,
       111628, 112101, 112575, 113050, 113526, 114003, 114481, 114960,
       115440, 115921, 116403, 116886, 117370, 117855, 118341, 118828,
       119316, 119805, 120295, 120786, 121278, 121771, 122265, 122760,
       123256, 123753, 124251, 124750], dtype=int32)

In [36]:
np.cumprod(ar)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [39]:
ar1 = np.arange(1,100)
ar1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [40]:
np.cumprod(ar1)

array([          1,           2,           6,          24,         120,
               720,        5040,       40320,      362880,     3628800,
          39916800,   479001600,  1932053504,  1278945280,  2004310016,
        2004189184,  -288522240,  -898433024,   109641728, -2102132736,
       -1195114496,  -522715136,   862453760,  -775946240,  2076180480,
       -1853882368,  1484783616, -1375731712, -1241513984,  1409286144,
         738197504, -2147483648, -2147483648,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0,           0,
                 0,           0,           0,           0], dtype=int32)

### Random numbers

In [41]:
np.random.randint(1,100)

44

In [42]:
np.random.randint(1,100)

51

In [43]:
np.random.random(10)

array([0.83118817, 0.18950355, 0.40742822, 0.86049958, 0.48931872,
       0.92410979, 0.53829016, 0.42205618, 0.33796427, 0.3575365 ])

In [44]:
np.random.randn(1,10)

array([[-1.15347332, -0.28639384,  1.08840007, -0.67710772, -0.79869705,
        -0.41027609, -0.92533808,  0.84034356,  1.48427322, -1.51412461]])

In [45]:
np.random.random_integers(1,90)

C:\Users\Alekhya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(1, 90 + 1) instead
  """Entry point for launching an IPython kernel.

55

In [46]:
a1 = np.arange(0,9).reshape(3,3)
a1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [47]:
a2 = np.arange(9,18).reshape(3,3)

In [48]:
a2

array([[ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17]])

In [49]:
a1*a2

array([[  0,  10,  22],
       [ 36,  52,  70],
       [ 90, 112, 136]])

In [50]:
a1+a2

array([[ 9, 11, 13],
       [15, 17, 19],
       [21, 23, 25]])

In [51]:
a1.T

array([[0, 3, 6],
       [1, 4, 7],
       [2, 5, 8]])

In [52]:
a2.T

array([[ 9, 12, 15],
       [10, 13, 16],
       [11, 14, 17]])

In [53]:
np.diagonal(a1)

array([0, 4, 8])

In [54]:
np.diagonal(a2)

array([ 9, 13, 17])

In [55]:
print(dir(np))

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'CLIP', 'ComplexWarning', 'DataSource', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'MachAr', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'VisibleDeprecationWarning', 'WRAP', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__doc__', '__file__', '__git_revision__', '__loader__', '__mkl_version__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_arg', '_distributor_init', '_globals', '_mat', '_mklinit', '_pytesttester', 'abs', 'absolute', 'absolute_import', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'alen', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'asscalar', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex', 'complex128', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'division', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'fv', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'int_asbuffer', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'ipmt', 'irr', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loads', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'long', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mafromtxt', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mirr', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndfromtxt', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'nper', 'npv', 'numarray', 'number', 'obj2sctype', 'object', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'pmt', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'ppmt', 'print_function', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'pv', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'rank', 'rate', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypeNA', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typeDict', 'typeNA', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

In [56]:
help(np.diagonal)

Help on function diagonal in module numpy:

diagonal(a, offset=0, axis1=0, axis2=1)
    Return specified diagonals.

    If `a` is 2-D, returns the diagonal of `a` with the given offset,
    i.e., the collection of elements of the form ``a[i, i+offset]``.  If
    `a` has more than two dimensions, then the axes specified by `axis1`
    and `axis2` are used to determine the 2-D sub-array whose diagonal is
    returned.  The shape of the resulting array can be determined by
    removing `axis1` and `axis2` and appending an index to the right equal
    to the size of the resulting diagonals.

    In versions of NumPy prior to 1.7, this function always returned a new,
    independent array containing a copy of the values in the diagonal.

    In NumPy 1.7 and 1.8, it continues to return a copy of the diagonal,
    but depending on this fact is deprecated. Writing to the resulting
    array continues to work as it used to, but a FutureWarning is issued.

    Starting in NumPy 1.9 it returns a read-only view on the original array.
    Attempting to write to the resulting array will produce an error.

    In some future release, it will return a read/write view and writing to
    the returned array will alter your original array.  The returned array
    will have the same type as the input array.

    If you don't write to the array returned by this function, then you can
    just ignore all of the above.

    If you depend on the current behavior, then we suggest copying the
    returned array explicitly, i.e., use ``np.diagonal(a).copy()`` instead
    of just ``np.diagonal(a)``. This will work with both past and future
    versions of NumPy.

    Parameters
    ----------
    a : array_like
        Array from which the diagonals are taken.
    offset : int, optional
        Offset of the diagonal from the main diagonal.  Can be positive or
        negative.  Defaults to main diagonal (0).
    axis1 : int, optional
        Axis to be used as the first axis of the 2-D sub-arrays from which
        the diagonals should be taken.  Defaults to first axis (0).
    axis2 : int, optional
        Axis to be used as the second axis of the 2-D sub-arrays from
        which the diagonals should be taken. Defaults to second axis (1).

    Returns
    -------
    array_of_diagonals : ndarray
        If `a` is 2-D, then a 1-D array containing the diagonal and of the
        same type as `a` is returned unless `a` is a `matrix`, in which case
        a 1-D array rather than a (2-D) `matrix` is returned in order to
        maintain backward compatibility.

        If ``a.ndim > 2``, then the dimensions specified by `axis1` and `axis2`
        are removed, and a new axis inserted at the end corresponding to the
        diagonal.

    Raises
    ------
    ValueError
        If the dimension of `a` is less than 2.

    See Also
    --------
    diag : MATLAB work-a-like for 1-D and 2-D arrays.
    diagflat : Create diagonal arrays.
    trace : Sum along diagonals.

    Examples
    --------
    >>> a = np.arange(4).reshape(2,2)
    >>> a
    array([[0, 1],
           [2, 3]])
    >>> a.diagonal()
    array([0, 3])
    >>> a.diagonal(1)
    array([1])

    A 3-D example:

    >>> a = np.arange(8).reshape(2,2,2); a
    array([[[0, 1],
            [2, 3]],
           [[4, 5],
            [6, 7]]])
    >>> a.diagonal(0, # Main diagonals of two arrays created by skipping
    ...            0, # across the outer(left)-most axis last and
    ...            1) # the "middle" (row) axis first.
    array([[0, 6],
           [1, 7]])

    The sub-arrays whose main diagonals we just obtained; note that each
    corresponds to fixing the right-most (column) axis, and that the
    diagonals are "packed" in rows.

    >>> a[:,:,0] # main diagonal is [0 6]
    array([[0, 2],
           [4, 6]])
    >>> a[:,:,1] # main diagonal is [1 7]
    array([[1, 3],
           [5, 7]])

## Pandas

- panadas mainly used for data manipulation,data cleaning,data visuvalization

- Data manipulation:
    - it is used for addung,deleting and modifying data in database
- Data cleaning:
    - it is a process of prparing data for analysis by removing or modifying data that is incorrect,incomplete,irrelevant,duplicate or improperly formatted.
- Data Visuvalization:
    - it is used for graphical representation of data

- Panads are having two ways:
    - Series
    - DataFrames

In [57]:
import pandas as pd

In [59]:
ser = pd.Series([10,20,30])
ser

0    10
1    20
2    30
dtype: int64

In [60]:
ser1 = pd.Series([10,20,30.5,"apssdc"])
ser1

0        10
1        20
2      30.5
3    apssdc
dtype: object

In [61]:
ser1[0]

10

In [62]:
ser1[4]

KeyError: 4

In [66]:
ser1 = pd.Series(["alekhya","narmada","phani","subbareddy"],index = ["ece",23,"*","23.5"])
ser1

ece        alekhya
23         narmada
*            phani
23.5    subbareddy
dtype: object

In [67]:
ser1["*"]

'phani'

In [68]:
ser1["ece"][2]

'e'

In [72]:
pd.Series([input(),int(input())],index = [input(),input()])

alekhya
20
ece
1

ece    alekhya
1           20
dtype: object

In [73]:
a = pd.Series({"name":"APSSDC","state":"AP"})
a

name     APSSDC
state        AP
dtype: object

In [74]:
a["name"]

'APSSDC'

In [75]:
a.index

Index(['name', 'state'], dtype='object')

In [76]:
ser1.index

Index(['ece', 23, '*', '23.5'], dtype='object')

In [77]:
a.colums

AttributeError: 'Series' object has no attribute 'colums'

In [3]:
data = pd.DataFrame({"names":["alekhya","narmada","phani"],"branch":["ece","eee","it"],
              "Des":["multi","software","technical"]})
data

     names branch        Des
0  alekhya    ece      multi
1  narmada    eee   software
2    phani     it  technical

In [121]:
data1 = pd.Series({"names":["alekhya","narmada","phani"],"branch":["ece","eee","it"],
              "Des":["multi","software","technical"]})
data1

names        [alekhya, narmada, phani]
branch                  [ece, eee, it]
Des       [multi, software, technical]
dtype: object

In [80]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [83]:
data.columns

Index(['names', 'branch', 'Des'], dtype='object')

In [84]:
data

     names branch        Des
0  alekhya    ece      multi
1  narmada    eee   software
2    phani     it  technical

In [89]:
data.describe

<bound method NDFrame.describe of      names branch        Des
0  alekhya    ece      multi
1  narmada    eee   software
2    phani     it  technical>

In [90]:
data.describe()

        names branch       Des
count       3      3         3
unique      3      3         3
top     phani    ece  software
freq        1      1         1

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
names     3 non-null object
branch    3 non-null object
Des       3 non-null object
dtypes: object(3)
memory usage: 152.0+ bytes

In [88]:
data.values

array([['alekhya', 'ece', 'multi'],
       ['narmada', 'eee', 'software'],
       ['phani', 'it', 'technical']], dtype=object)

In [91]:
data

     names branch        Des
0  alekhya    ece      multi
1  narmada    eee   software
2    phani     it  technical

In [92]:
data["names"]

0    alekhya
1    narmada
2      phani
Name: names, dtype: object

In [93]:
data["names"][1]

'narmada'

In [96]:
data["branch"][2]

'it'

In [97]:
data["branch"][2][0]

'i'

In [107]:
a = data[["names","branch"]]
a

     names branch
0  alekhya    ece
1  narmada    eee
2    phani     it

In [108]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
names     3 non-null object
branch    3 non-null object
dtypes: object(2)
memory usage: 128.0+ bytes

In [109]:
a.describe()

        names branch
count       3      3
unique      3      3
top     phani    ece
freq        1      1

In [110]:
a.index

RangeIndex(start=0, stop=3, step=1)

In [111]:
a.columns

Index(['names', 'branch'], dtype='object')

In [114]:
data[["names","Des"]]

     names        Des
0  alekhya      multi
1  narmada   software
2    phani  technical

In [115]:
data[["names","Des"]].columns

Index(['names', 'Des'], dtype='object')