# Good Afternoon

In [1]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [4]:
# discard
a = {1,2,3,4,5}
a.discard(6)
a

{1, 2, 3, 4, 5}

In [5]:
# remove
a = {1,2,3,4,5}
a.remove(6)
a

KeyError: 6

In [6]:
# intersection
a = {1,2,3,4,5}
b = {3,5,6,77,8}
a.intersection(b)

{3, 5}

In [7]:
a

{1, 2, 3, 4, 5}

In [8]:
# intersection_update
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
a.intersection_update(b)

In [9]:
a

{3, 4, 5}

In [10]:
# isdisjoint
a = {1,2,3,4}
b = {4,5,6}
a.isdisjoint(b)

False

In [11]:
a = {1,2,3}
b = {4,5,6}
a.isdisjoint(b)

True

In [12]:
# issuperset
a = {1,2,3}
b = {1,2,3,4,5,6,7}
a.issuperset(b)

False

In [13]:
b.issuperset(a)

True

In [14]:
# issubset
a.issubset(b)

True

In [15]:
b.issubset(a)

False

In [21]:
# pop
# setobject.pop()
a = {1,2,3,4,5}
a.pop()

1

In [22]:
# symmetric_difference
# setobject.symmetric_difference(setoject)
a = {1,2,3,4}
b = {3,4,5,6}
a.symmetric_difference(b)

{1, 2, 5, 6}

In [23]:
a

{1, 2, 3, 4}

In [24]:
# symmetric_difference_update
a = {1,2,3,4}
b = {3,4,5,6}
a.symmetric_difference_update(b)

In [25]:
a

{1, 2, 5, 6}

In [31]:
# union
a = {1,2,3,4,5,6}
b = {6,7,8}
c = {9,10,11,12}
d = {13,14,15}
a.union(b,c,d)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [32]:
a

{1, 2, 3, 4, 5, 6}

In [33]:
# update
a = {1,2,3,4,5,6}
b = {6,7,8}
c = {9,10,11,12}
d = {13,14,15}
a.update(b,c,d)

In [34]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [37]:
help(tuple.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

# Dictionaries

In [38]:
# d = {key1:value,key2:value,key3:value......}
d = {}
type(d)

dict

In [39]:
d = {'ravi':33,'raja':45,'geetha':23}
d

{'ravi': 33, 'raja': 45, 'geetha': 23}

In [44]:
d = {'ravi':33,'raja':45,'geetha':45,'ravi':36}
d

{'ravi': 36, 'raja': 45, 'geetha': 45}

In [45]:
d[0]

KeyError: 0

In [46]:
d['ravi']

36

In [49]:
d = {2+3j:'raja',2:'geetha'}

In [50]:
d

{(2+3j): 'raja', 2: 'geetha'}

In [51]:
type(d)

dict

In [52]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [53]:
# clear
# dictobject.clear()
d = {'a':'A','b':'B'}
d

{'a': 'A', 'b': 'B'}

In [54]:
d.clear()

In [55]:
d

{}

In [56]:
# copy
# dictobject.copy()
b = {1,2,3,4}
a = b.copy()
a

{1, 2, 3, 4}

In [57]:
a.clear()

In [58]:
b

{1, 2, 3, 4}

In [59]:
a

set()

In [76]:
# fromkeys
# dictobject.fromkeys(keys,value)
l = ('ravi','geetha','ramu')
v = [1,2,3]
d = dict.fromkeys(l,5)
d

{'ravi': 5, 'geetha': 5, 'ramu': 5}

In [73]:
d

{'ravi': 5, 'geetha': 5, 'ramu': 5}

In [74]:
d.get('ravi')

5

In [77]:
# items
d.items()

dict_items([('ravi', 5), ('geetha', 5), ('ramu', 5)])

In [78]:
# keys
d.keys()

dict_keys(['ravi', 'geetha', 'ramu'])

In [79]:
# values 
d.values()

dict_values([5, 5, 5])

In [81]:
# pop
d.pop('ravi')

5

In [82]:
d

{'geetha': 5, 'ramu': 5}

In [83]:
# popitem
d.popitem()

('ramu', 5)

In [99]:
# setdefault
d = {"cars":53,'bikes':46,'bicycles':22}
d.setdefault('bikes',47)

46

In [89]:
d

{'cars': 53, 'bikes': 46, 'bicycles': 22}

In [101]:
# update
a = {2016:1200,2017:1347,2018:1500}
b = {2019:1700,2020:1000}
a.update(b)
b.update(a)
print(a,b)

{2016: 1200, 2017: 1347, 2018: 1500, 2019: 1700, 2020: 1000} {2019: 1700, 2020: 1000, 2016: 1200, 2017: 1347, 2018: 1500}

In [96]:
a.update({2020:None})

In [97]:
a

{2016: 1200, 2017: 1347, 2018: 1500, 2019: 1700, 2020: None}

In [102]:
a = {'cars':56,'bikes':54,'bicycles':67}
a['cars']

56

In [103]:
a['cars'] = 67

In [104]:
a

{'cars': 67, 'bikes': 54, 'bicycles': 67}

In [105]:
a['cars']+=1
a

{'cars': 68, 'bikes': 54, 'bicycles': 67}

In [106]:
a['parts'] = 45
a

{'cars': 68, 'bikes': 54, 'bicycles': 67, 'parts': 45}

In [110]:
for i,j in a.items():
    print(i,j)

cars 68
bikes 54
bicycles 67
parts 45

In [ ]:
# a = ['www.google.com','python.org','facebook.com','apssdc.in']

# Regular Expressions

In [131]:
import re
st = 'python today we are attending python'
a = re.search('python',st)

In [132]:
a

In [117]:
a.start()

0

In [118]:
a.end()

6

In [119]:
a = re.finditer('python','python today we are attending python class')
a

In [120]:
for i in a:
    print(i.span())

(0, 6)
(30, 36)

In [123]:
a = re.findall('python','python today we  pythonare attending python')

In [124]:
a

['python', 'python', 'python']

In [136]:
a = re.split(' ','python today we  pythonare attending python',2)
a

['python', 'today', 'we  pythonare attending python']

In [140]:
a = re.sub('hello','hai','hello everyone hello hello',2)
a

'hai everyone hai hello'

In [160]:
# ^,$,[a-zA-Z0-9],{3,20}
# phone number validation
#n = input()
#p = '^[9876][0:9]{9}'
a = re.search('^[9876][0-9]{9}',input())
print(a)
if a:
    print('valid')
else:
    print('invalid')

7891234567
None
invalid

In [163]:
# mail id verfication
# a-zA-Z0-9._3-20@a-zA-Z 2-5 . a-z A-Z 2-3 
# a._ARTYV@gmail.com
a = ['www.google.com','com.python.org','cacebook.com','apssdc.in']
p = '^com'
for i in a:
    if re.search(p,i):
        print(i)

com.python.org